/* @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Lilita+One&family=Poppins:wght@100;200;400&display=swap');
*{
  font-family: Alfa Slab One, cursive;
} */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@405;500;600&display=swap');
*{
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
@font-face {
  font-family:Poppins, sans-serif ;
  src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@405;500;600&display=swap');
}
@font-face {
  font-family: Alfa Slab One, cursive;
  src: url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Lilita+One&family=Poppins:wght@100;200;400&display=swap');
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


  body{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(125deg,#f62b48,#1e73c3,#f62b48);
    background-size: 400%;
    animation: bganimation 15s infinite;
    display: flex;
    flex-direction: column;
  }
  .heading{
    height: 120px;
    width: 310px;
    border-radius: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    margin-bottom: 50px;
    font-family: Alfa Slab One, cursive;
   
  }
 h1{
    font-size: 6rem;
    font-weight: 900;
    background-image: linear-gradient(125deg,#845ac2,#d65dba,#ff6f91,#ff9671,#ffc75f,#f9f871);
    background-size: 400%;
    animation: bganimation 15s infinite;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-family: Alfa Slab One, cursive;
  }
  .wrapper{
    background: #fff;
    width: 400px;
    padding: 15px 25px;
   font-family: Poppins, sans-serif;
    border-radius: 10px;
    padding-bottom: 0;
    
  }
  .task-input{
    height: 50px;
    position: relative;
    user-select: none;
  }
  .task-input input{
    height: 100%;
    width: 100%;
    padding-left: 40px;
    border-radius: 5px;
    outline: none;
    font-size: 15px;
    border: 1px solid #999;
  }
  .task-input input::placeholder{
    color:#bfbfbf
  }
  .task-input img{
    position: absolute;
    top: 25%;
    left: 10px;
  }
  .controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5px;
    border-bottom: 1px solid #ccc;
    user-select: none;
  }
  .filters span{
    margin: 0 11px;
    font-size: 15px;
    cursor: pointer;
    user-select: none;
  }
  .filters span:first-child{
    margin-left: 0;
  }
  .filters span.active{
    color: #3AB0FF;
  }
  .controls .clear-btn{
    outline: none;
    border: none;
    color: #fff;
    padding: 7px 10px;
    background: #2192FF;
    border-radius:5px ;
    cursor: pointer;
    font-size: 13px;
    transition: all 0.4s ease;
  }
  .clear-btn:hover{
    filter: brightness(1.05);
  }
  .clear-btn:active{
    transform: scale(0.95);
  }
  .task-box{
    margin: 20px 0px;
    list-style: none;
    user-select: none;
  }
  .task-box .task{
    font-size: 17px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px ;
  }
  li{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .task label{
    display: flex;
  }
  .task label p.checked{
    text-decoration: line-through;
  }
  li label p{
    margin-left: 10px;
  }
  .task-box .task{
    /* margin-bottom: 0;
    padding-bottom: 0; */
    padding: 10px;
  }
  .task .settings{
    cursor: pointer;
    position: relative;
  }
  .settings .task-menu{
    position: absolute;
    padding: 5px 0;
    background: #fff;
    z-index: 2;
    transform: scale(0 );
    border-radius: 5px;
    right: -20px;
    bottom: -40px;
    transform-origin: top right;
    transition: transform 0.2s ease;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .settings .task-menu.show{
    transform: scale(1);
  }
  .task-menu li{
    height: 30px;
    justify-content: flex-start;
    margin-bottom: 2px;
    padding-right: 10px;
    cursor: pointer;
    user-select: none;
  }
  .task-menu li:hover{
    background: #f5f5f5;
  }
  .task-menu li img{
    padding: 0 10px 0 10px;
  }
  /* .task-menu li:last-child{
    margin-bottom: 0;
  } */
  @keyframes bganimation{
    0%{
      background-position: 0% 50%;
    }
    50%{
      background-position: 100% 50%;
    }
    100%{
      background-position: 0% 50%;
    }
  }
  /*  */